---
import Card from "../components/Card.astro";

const rawData=await fetch('https://www.themealdb.com/api/json/v1/1/search.php?s=');
const data= await rawData.json()
const dataDef=data.meals

---

<section class="cardContainer">
    {
        dataDef.map((item:any)=>{
            const ingredients=[]
            for (let i=1; i<21; i++){
                ingredients.push(item[`strIngredient${i}`])
            }
            const newIngredients=ingredients.filter((element)=>element!="")
            if (newIngredients.length > 7) {
                newIngredients.splice(7);  // Mantiene los primeros 7 elementos
                newIngredients.push("..."); // Agrega "..." al final
            }
            /* console.log(newIngredients) */
            return <Card 
                mealName={item.strMeal}
                categoryName={item.strCategory}
                area={item.strArea}
                mealImage={item.strMealThumb}
                ingredients={newIngredients}
            />
        })
    }
    
</section>


<style>
    .cardContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 30px 0 30px 0;
    }
</style>